@use "src/assets/styles/global/adaptivity.lit";

@mixin side-margins {
	--side-margin: 64px;
	width: calc(100% - var(--side-margin) * 2);
	max-width: var(--max-width);

	margin-left: var(--side-margin);
	margin-right: var(--side-margin);

	@include adaptivity.for-tablet-down {
		--side-margin: 24px;
	}
}
