@use "src/assets/styles/global/adaptivity.lit";

:host {
	--max-width: calc(1440px - 64px * 2);
}

@mixin side-margins {
	--side-margin: 64px;
	width: calc(100% - var(--side-margin) * 2);
	max-width: var(--max-width);

	margin-left: var(--side-margin);
	margin-right: var(--side-margin);

	@include adaptivity.for-tablet-down {
		--side-margin: 24px;
	}
}

@include adaptivity.for-desktop-only {
	:host {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}


top-landing-part {
	@include side-margins;
	height: 62px;

	position: fixed;
	top: 64px;
	z-index: 10;
}

title-landing-part {
	@include side-margins;

	position: absolute;
	top: 64px + 62px; // margin + top part height
	bottom: 62px + 16px; // content header height + content peaking gap
}

content-landing-part {
	@include side-margins;

	position: absolute;
	top: calc(100vh - 62px - 16px); // 100vh - section height - scroll gap

	transform: translateY(62px * 2 + 32px * 2);
	animation: bottom-in var(--launch-anim-length) ease-out;
	animation-fill-mode: both !important;

	padding-bottom: 64px;
}

@keyframes bottom-in {
	from { transform: translateY(62px * 2 + 32px * 2) }
	to { transform: translateY(0) }
}
