@media screen and (min-width: 1440px) {
	:host {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.flex {
		width: 1440px;

		& > * {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.flex {
	position: relative;

	& > *:not(locale-picker) {
		position: absolute;
		max-width: 1440px;
		margin-left: 64px;
		margin-right: 64px;
		left: 0;
		right: 0;

		@media screen and (max-width: 1023px) {
			margin-left: 16px;
			margin-right: 16px;
		}
	}
}

header-section {
	height: 100vh;
	position: relative;
}

contacts-section {
	// - sections heights - scroll gap - gap between sections
	top: calc(100vh - 62px * 2 - 16px - 32px);
	animation-fill-mode: both !important;
	transform: translateY(62px * 2 + 32px * 2);

	&.animate-open {
		animation: bottom-in var(--launch-anim-length) ease-out;
	}
}

content-section {
	// - section height - scroll gap
	top: calc(100vh - 62px - 16px);
	animation-fill-mode: both !important;
	transform: translateY(62px * 2 + 32px * 2);

	&.animate-open {
		animation: bottom-in var(--launch-anim-length) ease-out;
	}

	padding-bottom: 64px;
}

@keyframes bottom-in {
	from { transform: translateY(62px * 2 + 32px * 2) }
	to { transform: translateY(0) }
}
