@use "src/assets/styles/global/adaptivity.lit";
@use "src/assets/styles/theming.lit";

:host {
	--max-width: calc(1440px - var(--page-outer-margin) * 2);
}

@mixin side-margins {
	width: calc(100% - var(--page-outer-margin) * 2);
	max-width: var(--max-width);

	margin-left: var(--page-outer-margin);
	margin-right: var(--page-outer-margin);
}


@include adaptivity.for-desktop-only {
	:host {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}


top-landing-part {
	@include side-margins;
	height: var(--navigation-height);

	position: fixed;
	top: var(--page-outer-margin);
	z-index: 10;
}

title-landing-part {
	@include side-margins;

	position: absolute;
	top: calc(var(--page-outer-margin) + var(--navigation-height));
	bottom: 62px + 16px; // content header height + content peaking gap
}

content-landing-part {
	@include side-margins;

	position: absolute;
	top: calc(100vh - 62px - 16px); // 100vh - section height - scroll gap

	transform: translateY(62px * 2 + 32px * 2);
	animation: bottom-in var(--launch-anim-length) ease-out;
	animation-fill-mode: both !important;

	padding-bottom: var(--page-outer-margin);
}

@keyframes bottom-in {
	from { transform: translateY(62px * 2 + 32px * 2) }
	to { transform: translateY(0) }
}
