div {
  padding: 6px 14px;
  height: 32px;
  border: 1px solid #33AD6A;
  border-radius: 8px;
}

p {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
