@use "./theming.css";
@use "./reset.css";

:host {
  box-sizing: border-box;
}

* {
  color: var(--primary-color);
}

h1 {
  font-family: Bitter, serif;
  font-style: italic;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
}

h2 {
  font-family: Bitter, serif;
  font-style: italic;
  font-weight: 400;
  font-size: 46px;
  line-height: 72px;
}

h3 {
  font-family: Bitter, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
}

h4 {
  font-family: Bitter, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  &.sans {
    font-family: Ubuntu, sans-serif;
    font-weight: 500;
  }
}

p {
  font-family: Bitter, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24.5px;

  &.subtitle {
    font-weight: 500;
    font-style: italic;
  }

  &.italic {
    font-style: italic;
  }
}

a {
  font-family: Bitter, serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
}

.border {
  border: solid 2px var(--primary-color);
}
