:root, :host {
	--red-brand-color: #F85D77;
	--green-brand-color: #C8F199;
	--yellow-brand-color: #F6E17D;
	--dark-color: #342C21;
	--surface-color: #FBF7F9;

	--launch-anim-delay: 500ms;
	--launch-anim-length: 600ms;
}
