@use "src/assets/styles/global/adaptivity.lit";

.wrapper {
	height: 62px;
	padding-left: 24px;
	padding-right: 24px;
}

@include adaptivity.for-phone-only {
	.wrapper {
		justify-content: center !important;
	}
}

.contact-icon {
	width: 24px;
	height: 24px;
}
